{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

    <div class="row">
        <div class="col-lg-offset-4 col-lg-5">
            <form action="{% url "dashboard:login" %}" class="form-signin" method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% for field in form %}

                    <div class="form-group">
                        <label for=id_{{ field.name }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                    </div>

                {% endfor %}
                <span class="pull-right"><a href="{% url "password_reset_recover" %}">Reset Password</a></span>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-lg-offset-4 col-lg-5">

        </div>
    </div>
</div><!-- /.container -->

{% endblock %}