{% extends "base.html" %}

{% block content %}
    <div id='calendar'></div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: '2015-12-12',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2015-12-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2015-12-07',
                        end: '2015-12-10'
                    },
                    {
                        title: 'Conference',
                        start: '2015-12-11',
                        end: '2015-12-13'
                    }
                ]
            });

        });
    </script>
{% endblock %}