{% extends "base.html" %}
{% load widget_tweaks %}
{% load permission_tags %}
{% load staticfiles %}

{% block content %}
    <div class="col-lg-offset-1 col-lg-10">
        {% if user|can:'add_tasks' %}
            <p><a class="btn btn-purple pull-right" data-toggle="modal" data-target="#create-event">ADD EVENT</a></p>
            <br/>
        {% endif %}
        <br/>

        <div id='calendar'></div>

        <div class="modal fade" id="create-event" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="{% url "dashboard:meeting-new" %}" method="post"
                          enctype="multipart/form-data">{% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">New Document</h4>
                        </div>
                        <div class="modal-body">
                            {% for field in form %}

                                <div class="form-group">
                                    <label for=id_{{ field.name }}">{{ field.label }}</label>
                                    {{ field|add_class:"form-control" }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p class="alert-danger"> {{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            {% endfor %}


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-purple" data-dismiss="modal">Close
                            </button>
                            <input type="submit" value="Create Event" class="btn btn-purple"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}


    <link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>

    <script type="application/javascript">

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: '2015-12-12',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {% for meeting in meetings %}
                        {
                            title: "{{ meeting.title }}",
                            start: "{{ meeting.start|date:"c" }}",
                            end: "{{ meeting.end|date:"c" }}"


                        },
                    {% endfor %}

                ]
            });


        $('#id_start, #id_end').datetimepicker({
            format: 'yyyy-mm-dd hh:ii'
        });
        });


    </script>
{% endblock %}
