{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
    <div class="col-lg-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% for field in form %}

                <div class="form-group">
                    <label for=id_{{ field.name }}">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="alert-danger"> {{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>

            {% endfor %}

            <input type="submit" value="Add Meeting" class="btn btn-default"/>

        </form>
    </div>

{% endblock %}

{% block js %}

    <link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>

    <script type="application/javascript">

        $('#id_start, #id_end').datetimepicker({
            format: 'yyyy-mm-dd hh:ii'
        });

    </script>


{% endblock %}
