{% load staticfiles %}
<html>

<head>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "css/app.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">
</head>
<body>
<div>
    <div style="line-height: 2px;">
        <span>{{ district }}</span><br/>
        <span>_______________</span>
        {% for task in tasks %}
            <p><strong>{{ task.ip }}</strong></p>
            <p style="text-indent: 8px">{{ task.type|title }} {{ task.percent_complete }}</p>
        {% endfor %}
    </div>

</div>
</body>
</html>