{% extends "base.html" %}
{% load permission_tags %}
{% block content %}
    <div class="col-lg-12">
        <table id="task_table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <td>Task</td>
                <td>IP</td>
                <td>Percent Complete</td>
                <td>Remaining Time</td>
                <td>Affected Districts</td>
                {% if user|can:'add_tasks' %}
                    <td>Manage</td>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for task in object_list %}
                <tr>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.type|title }}</a></td>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.ip.name }}</a></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ task.percent_complete }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ task.percent_complete }}%">
                                <span style="text:white;"><strong>{{ task.percent_complete }}% </strong></span>
                            </div>
                        </div>
                    </td>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.end_date|timeuntil }}</a></td>
                    <td>
                        {% if task.affected_districts.all|length < 4 %}
                            {% for district in task.affected_districts.all %}
                                {{ district.name }},
                            {% endfor %}
                        {% elif task.affected_districts.all|length > 4 %}
                            {% for district in task.affected_districts.all|slice:"4" %}
                                {{ district.name }},
                            {% endfor %}
                            <a type="button" class="district-hover" data-container="body"
                               data-placement="bottom" data-trigger="hover"
                               data-content="
                                {% for district in task.affected_districts.all %}
                                        {{ district }}
                                {% endfor %}
                                        ">
                                ....
                            </a>
                        {% endif %}


                    </td>
                    {% if user|can:'add_tasks' %}
                        <td>
                            <a href="{% url "dashboard:task-edit" task.id %}" class="btn btn-default">EDIT</a>
                            <a href="#" class="btn btn-default" data-toggle="modal"
                               data-target="#delete-task-{{ task.id }}">DELETE</a>
                        </td>

                        </tr>
                        <div class="modal fade" id="delete-task-{{ task.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form method="POST" action="{% url "dashboard:task-delete" task.id %}">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            Are you sure you could like to delete this
                                            task {{ task.overview }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-default">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('#task_table').DataTable();
        });

    </script>
{% endblock %}