{% extends "base.html" %}
{% load widget_tweaks %}
{% load permission_tags %}

{% block content %}
    <div class="col-lg-12">

        {% if user|can:'add_tasks' %}
            <p>DOCUMENTS</p>
            <a class="btn btn-default" href="{% url 'dashboard:task-add-items' object.id %}">ADD SUB TASKS</a>
        {% endif %}
        <br/>
        <br/>
        <strong>Task:</strong>
        <br/>
        <strong>Overview:</strong>

        <p> {{ object.overview }}</p>
        <strong>Type:</strong>

        <p> {{ object.type }}</p>
        <table class="table">
            <tr>
                <th>Sub-Tasks</th>
                <th>Due Date</th>
                <th>Status</th>
                {% if user|can:'add_tasks' %}
                    <th>Update</th>
                {% endif %}
            </tr>
            {% for sub_task in sub_tasks %}
                <tr>
                    <td>{{ sub_task.description }}</td>
                    <td>{{ sub_task.estimated_end_date }}</td>
                    <td>{{ sub_task.status|title }}</td>
                    {% if user|can:'add_tasks' %}
                        <td><a class="btn btn-default"
                               href="{% url 'dashboard:task-update-items' sub_task.id %}">Update Status</a></td>
                    {% endif %}

                </tr>
            {% endfor %}

        </table>


        <p>{{ object.uploader }}</p>
    </div>
{% endblock %}