{% extends "base.html" %}
{% load widget_tweaks %}
{% load permission_tags %}

{% block content %}
    <div class="col-lg-12">
        <strong>Task:</strong>
        <br/>
        <strong>Overview:</strong>

        <p> {{ object.overview }}</p>
        <strong>Type:</strong>

        <p> {{ object.type }}</p>
        <table class="table">
            <tr>
                <th>Sub-Tasks</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Notes attached</th>
                {% if user|can:'add_tasks' %}
                    <th>Update Status</th>
                {% endif %}
                {% if user|can:'add_tasks' %}
                    <th>Add Notes</th>
                {% endif %}
            </tr>
            {% for sub_task in sub_tasks %}
                <tr>
                    <td>{{ sub_task.description }}</td>
                    <td>{{ sub_task.estimated_end_date }}</td>
                    <td>{{ sub_task.status|title }}</td>
                    <td>{{ sub_task.notes }}
                        {% if sub_task.notes > 1 %}
                            <a href="{% url 'dashboard:subtask-notes-list' sub_task.id %}">View Notes</a>
                        {% endif %}
                    </td>
                    {% if user|can:'add_tasks' %}
                        <td><a class="btn btn-default"
                               href="{% url 'dashboard:task-update-items' sub_task.id %}">Update Status</a></td>
                    {% endif %}
                    {% if user|can:'add_tasks' %}
                        <td><a class="btn btn-default"
                               href="{% url 'dashboard:task-update-notes' sub_task.id %}">Add Notes</a></td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
        {% if user|can:'add_task' %}
            <a class="btn btn-default" href="{% url 'dashboard:task-add-items' object.id  %}">ADD SUB TASKS</a>

        {% endif %}

    </div>
{% endblock %}