{% extends "base.html" %}
{% block content %}
    <div class="col-lg-12">
        <table id="task_table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <td>Task</td>
                <td>IP</td>
                <td>Percent Complete</td>
                <td>Remaining Time</td>
                <td>Affected Districts</td>
            </tr>
            </thead>
            <tbody>
            {% for task in object_list %}
                <tr>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.type|title }}</a></td>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.ip.name }}</a></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ task.percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ task.percent_complete }}%">
                                <span class="sr-only">{{ task.percent_complete }} Complete</span>
                            </div>
                        </div>
                    </td>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.end_date|timeuntil }}</a></td>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.affected_districts }}</a></td>
                </tr>
            {% empty %}

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('#task_table').DataTable();
        });

    </script>
{% endblock %}