{% extends "base.html" %}
{% load widget_tweaks %}
{% load permission_tags %}

{% block content %}
    <div class="col-lg-5">

        {% if user|can:'add_tasks' %}
            <p>DOCUMENTS</p>
            <a class="btn btn-default" href="{% url 'dashboard:task-add-items' object.id %}">ADD SUB TASKS</a>
        {% endif %}
        <br/>
        <br/>
        <strong>Task:</strong>
        <br/>
        <strong>Overview:</strong>

        <p> {{ object.overview }}</p>
        <strong>Type:</strong>

        <p> {{ object.type }}</p>
        <strong>SubTasks:</strong>
        <ul>

            {% for sub_task in sub_tasks %}
                <li>{{ sub_task.description }} {{ sub_task.estimated_end_date }} <span
                        class="label-success">{{ sub_task.status }}</span>{% if user|can:'add_tasks' %}
                    <a class="btn btn-default" href="{% url 'dashboard:task-update-items' object.id %}">Update status</a>
                {% endif %}

                </li>
            {% endfor %}

        </ul>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <p>{{ object.uploader }}</p>
    </div>
{% endblock %}