{% extends "base.html" %}
{% block content %}
    <div class="col-lg-12">
        <table id="task_table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <td>Task</td>
                <td>IP</td>
                <td>Percent Complete</td>
                <td>Remaining Time</td>
                <td>Affected Districts</td>
            </tr>
            </thead>
            <tbody>
            {% for task in object_list %}
                <tr>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.type|title }}</a></td>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.ip.name }}</a></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ task.percent_complete }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ task.percent_complete }}%">
                                <span style="text:white;"><strong>{{ task.percent_complete }}% </strong></span>
                            </div>
                        </div>
                    </td>
                    <td><a href="{% url "dashboard:task-detail" task.id %}">{{ task.end_date|timeuntil }}</a></td>
                    <td>
                        {% if task.affected_districts.all|length < 4 %}
                            {% for district in task.affected_districts.all %}
                                {{ district.name }},
                            {% endfor %}
                        {% elif task.affected_districts.all|length > 4 %}
                            {% for district in task.affected_districts.all|slice:"4" %}
                                {{ district.name }},
                            {% endfor %}
                            <a type="button" class="district-hover" data-container="body"
                                    data-placement="bottom" data-trigger="hover"
                                    data-content="
                                {% for district in task.affected_districts.all %}
                                        {{ district }}
                                {% endfor %}
                                        ">
                                ....
                            </a>
                        {% endif %}


                    </td>
                </tr>
            {% empty %}

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('#task_table').DataTable();
        });

    </script>
{% endblock %}