---
- apt: name=git state=present update_cache=yes
- apt: name={{ item }} state=present
  with_items:
    - build-essential
    - python-pip
    - python-dev
    - libtiff5-dev
    - libjpeg8-dev
    - zlib1g-dev
    - libfreetype6-dev
    - liblcms2-dev
    - libwebp-dev
    - tcl8.6-dev
    - tk8.6-dev
    - python-tk
    - supervisor

- pip: name={{ item }}
  with_items:
    - virtualenv
    - ansible

- file: path=/srv/checkout owner=www-data mode=0755 state=directory

- file: path=/srv/checkout/{{name}} owner=www-data mode=0755 state=directory

- file: path=/home/ubuntu/.ssh mode=0755 state=directory

- name: checkout from github
  git: repo={{repo}} dest=/srv/checkout/{{name}} accept_hostkey=true force=yes

- command: sudo chown -R $USER /srv/checkout/{{name}}venv

- pip: requirements=/srv/checkout/{{name}}/requirements.txt virtualenv=/srv/checkout/{{name}}venv

- command: /srv/checkout/{{name}}venv/bin/python manage.py migrate --noinput
  args:
    chdir: /srv/checkout/{{name}}/{{name}}

- command: /srv/checkout/{{name}}venv/bin/python manage.py syncdb --noinput
  args:
    chdir: /srv/checkout/{{name}}/{{name}}

- command: /srv/checkout/{{name}}venv/bin/python manage.py collectstatic --noinput
  args:
    chdir: /srv/checkout/{{name}}/{{name}}

- command: sudo chown -R $USER /srv/checkout/{{name}}/{{name}}/static

- file: path=/srv/checkout/{{name}}/{{name}}/dhisdash/downloads owner=www-data mode=0755 state=directory

- command: /srv/checkout/{{name}}venv/bin/python manage.py loaddata {{item}}
  with_items:
    - dhisdash_initial_data
    - dhisdash_category_option_combos
    - dhisdash_initial_region_data
    - dhisdash_initial_district_data
    - dhisdash_initial_sub_county_data
    - dhisdash_initial_facility_data
  args:
    chdir: /srv/checkout/{{name}}/{{name}}
