{% extends "base.html" %}
{% block content %}

<div class="row">


        <div class="row">
            <div class="col-md-10 heading"><h5>FILTERS</h5></div>
        </div>


        <div class="row">

            <select class="col-mds-2 selectpickerr" data-width="auto"
                    ng-model="filter.from_date" ng-change="updateData()">
                <option value="">FROM</option>
                {% for year, values in from_dates_iteritems %}
                <optgroup label="{{ year }}">
                    {% for value in values %}

                    <option value="{{ value.value }}">{{ value.text }}</option>

                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>


            <select class="col-mds-2 selectpickerr" data-width="auto"
                    ng-model="filter.to_date" ng-change="updateData()">
                <option value="">TO</option>
                {% for year, values in to_dates_iteritems %}
                <optgroup label="{{ year }}">
                    {% for value in values %}

                    <option value="{{ value.value }}">{{ value.text }}</option>

                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>

            <select class="col-mds-2 selectpickerr" data-width="auto"
                    ng-model="filter.region" ng-change="updateData()">
                <option value="0">REGIONS</option>
                {% for region in regions_list %}

                <option value="{{ region.id }}">{{ region.name }}</option>

                {% endfor %}
            </select>
            <select class="col-mds-2 selectpickerr" data-width="auto" data-live-search="true"
                    ng-model="filter.district" ng-change="updateData()">
                <option value="0">DISTRICTS</option>
                {% for district in districts_list %}

                <option value="{{ district.id }}">{{ district.name }}</option>

                {% endfor %}
            </select>
            <select class="col-mds-2 last selectpickerr"
                    ng-model="filter.age_group" ng-change="updateData()">
                <option value="0">AGE GROUP</option>
                {% for value, text in age_groups %}

                <option value="{{ value }}">{{ text }}</option>

                {% endfor %}
            </select>
        </div>

        <div class="row">
            <div class="col-md-10 heading"><h5>KEY METRICS</h5></div>
        </div>

        <div class="row">
            <div class="tabs tabs-style-flip">
                <nav>
                    <ul>
                        <li>
                            <a href="#positivity-rate-tab" id="positivity-rate" ng-click="updateCharts()">
                                <span class="value" ng-bind="big_metric.positivity_rate"></span>
                                <span class="desc">POSITIVITY RATE</span>
                            </a>
                        </li>
                        <li>
                            <a href="#testing-rate-tab" id="testing-rate" ng-click="updateCharts()">
                                <span class="value" ng-bind="big_metric.testing_rate"></span>
                                <span class="desc">TESTING RATE</span>
                            </a>
                        </li>
                        <li>
                            <a href="#consumption-rate-tab" id="consumption-rate" ng-click="updateCharts()">
                                <span class="value" ng-bind="big_metric.consumption_rate"></span>
                                <span class="desc">CONSUMPTION RATE</span>
                            </a>
                        </li>
                        <li></li>
                    </ul>
                </nav>
                <div class="content-wrap">
                    <section id="positivity-rate-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="positivity_rate" class="db-charts">
                                    <svg></svg>
                                </div>
                            </div>
                            <div class="col-lg-6 districts-table">
                                <table datatable="ng"
                                       class="row-border hover table table-bordered table-condensed table-striped">
                                    <thead>
                                    <tr>
                                        <th width='40%'>District</th>
                                        <th width='20%'>Positivity Rate</th>
                                        <th width='20%'>Total Positive</th>
                                        <th width='20%'>Total Tests</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="result in positivity_data_table_results">
                                        <td width='40%' class="ng-cloak"><% result.district %></td>
                                        <td class="ng-cloak"><% result.positivity_rate %>%</td>
                                        <td class="ng-cloak"><% result.total_positive %></td>
                                        <td class="ng-cloak"><% result.reported_cases %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section id="testing-rate-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="testing_rate" class="db-charts">
                                    <svg></svg>
                                </div>
                            </div>
                            <div class="col-lg-6 districts-table">
                                <table datatable="ng"
                                       class="row-border hover table table-bordered table-condensed table-striped">
                                    <thead>
                                    <tr>
                                        <th width='40%'>District</th>
                                        <th width='20%'>Testing Rate</th>
                                        <th width='20%'>Total Tests</th>
                                        <th width='20%'>Malaria OPD</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="result in testing_data_table_results">
                                        <td width='40%' class="ng-cloak"><% result.district %></td>
                                        <td class="ng-cloak"><% result.testing_rate %>%</td>
                                        <td class="ng-cloak"><% result.total_tests %></td>
                                        <td class="ng-cloak"><% result.malaria_total %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section id="consumption-rate-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="consumption_rate" class="db-charts">
                                    <svg></svg>
                                </div>
                            </div>
                            <div class="col-lg-6 districts-table">
                                <table datatable="ng"
                                       class="row-border hover table table-bordered table-condensed table-striped">
                                    <thead>
                                    <tr>
                                        <th width='40%'>District</th>
                                        <th width='20%'>Consumption Rate</th>
                                        <th width='20%'>ACT Consumed</th>
                                        <th width='20%'>Malaria OPD</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="result in consumption_data_table_results">
                                        <td width='40%' class="ng-cloak"><% result.district %></td>
                                        <td class="ng-cloak"><% result.consumption_rate %></td>
                                        <td class="ng-cloak"><% result.act_consumed %></td>
                                        <td class="ng-cloak"><% result.malaria_total %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-12 heading"><h5>ADDITIONAL METRICS</h5></div>
        </div>

        <div class="row" id="additional-metrics">
            <div class="col-md-3">
                <div class="value" ng-bind="big_metric.IPT1"></div>
                <div class="desc">UPTAKE<br>IPTP1</div>
            </div>
            <div class="col-md-3">
                <div class="value" ng-bind="big_metric.IPT2"></div>
                <div class="desc">UPTAKE<br>IPTP2</div>
            </div>
            <div class="col-md-3">
                <div class="value" ng-bind="big_metric.total_positive"></div>
                <div class="desc">TOTAL<br>POSITIVE RESULTS</div>
            </div>
            <div class="col-md-3">
                <div class="value" ng-bind="big_metric.total_treated"></div>
                <div class="desc">TOTAL<br>TREATED PATIENTS</div>
            </div>
        </div>

    </div>


{% endblock %}