<div class="modal fade" tabindex="-1" role="dialog" id="spinner-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">LOADING</h4>
            </div>
            <div class="modal-body text-center">
                <p><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></p>
                <p>Please wait...</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->